/* GLOBAL */

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background-color: #f5f5f5;
  background-image: url("./img/bg.jpg");
  font-family: "Signika", sans-serif;
  color: #232b2b;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.3em 0.7em;
  border: 0;
  border-radius: 5px;
  background-color: #35d461;
  transition: 200ms ease-in;
}

button:hover {
  cursor: pointer;
  background: #2ac555;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  background: #065c84;
  height: 120px;
}

.navbar h1 {
  font-size: 4rem;
  color: aliceblue;
}

.nav-action-links {
  display: flex;
  justify-content: space-around;
  min-width: 150px;
}

.nav-action-links a {
  border-radius: 5px;
  background: #3c322d;
  text-decoration: none;
  padding: 0.2em 0.6em;
  color: aliceblue;
}

.nav-action-logged-in {
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  background: #3c322d;
  color: aliceblue;
  padding: 0.2em 0.6em;
}
.nav-action-logged-in button {
  margin-left: 0.8em;
}

/* Home Tabs */

.home-tabs {
  display: flex;
  justify-content: space-evenly;
  width: 35%;
  margin: 0 auto;
  margin-top: 5em;
}

.home-tabs a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 0;
  text-align: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 0.4em 0.8em;
  padding-top: 0.5em;
  text-decoration: none;
  color: inherit;
  min-width: 100px;
}

.home-tabs a:first-of-type {
  background: #72d4f5;
}

.home-tabs a:last-of-type {
  background: #9ad2a9;
}

/* Story Container */

.story-journal {
  height: 60vh;
  width: 65%;
  margin: 0 auto;
  border-radius: 15px;
  overflow: scroll;
  margin-bottom: 2em;
  background: #72d4f5;
}

.story-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
}

/* Story Articles */
.story-article {
  background: #f5f5f5;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  width: 85%;
  min-width: 320px;
  max-width: 550px;
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 1.5em;
}

.story-article header {
  display: flex;
  justify-content: space-between;
}

.story-article header div {
  display: flex;
  align-items: center;
}
.avatar {
  margin-right: 0.5em;
  width: 25px;
  height: 25px;
}

.story-content {
  margin-top: 1em;
  padding: 0;
}

.story-article footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.story-article footer button a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

/* Story Detail page */

.story-detail-page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2em;
  transition: 200ms ease-in;
}
.story-detail-sidebar {
  min-width: 300px;
  width: 35%;
}

.contribution-widget {
  background: #047cac;
  padding: 1em;
  border-radius: 10px;
}
.contribution-widget h2 {
  color: #232b2b;
  padding: 0.3em;
  margin-bottom: 0.5em;
}

.contribution-widget form {
  display: flex;
  flex-direction: column;
}

.contribution-widget textarea {
  resize: none;
  padding: 0.5em;
  border-radius: 10px;
  outline: 0;
  font: inherit;
}

.contribution-widget button {
  min-width: 75px;
  width: 30%;
  margin-top: 0.5em;
  margin-right: auto;
  font-weight: bold;
  padding: 0.1em 0.4em;
}

.contribution-article {
  border-radius: 16px;
  margin-top: 2em;
  padding: 1.5em;
  padding: 1em;
  transition: 200ms ease-in;
  animation: fade-in 0.3s ease-in;
}

.contribution-article:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.contribution-article header {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contribution-article header div {
  display: flex;
  align-items: center;
}

.contribution-article > p {
  padding: 1em 0;
  border-bottom: 2px solid #244751;
}

.contribution-article footer {
  display: flex;
  margin-top: 0.5em;
  align-items: center;
  justify-content: space-between;
}

/* User Feed */
.user-feed {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #9ad2a9;
}

.footer {
  display: flex;
  justify-content: center;
  justify-self: flex-start;
}
