/* GLOBAL */
* {
  margin: 0;
  padding: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background-color: #f5f5f5;
  background-image: url("./img/bg.jpg");
  font-family: "Signika", sans-serif;
  color: #232b2b;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.5em 0.9em;
  border: 0;
  border-radius: 5px;
  background-color: #35d461;
  transition: 200ms ease-in;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background: #2ac555;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6em;
  background: #065c84;
  height: 120px;
}

.navbar h1 {
  font-size: 4rem;
  color: aliceblue;
}

.nav-action-links {
  display: flex;
  justify-content: space-around;
  min-width: 150px;
}

.nav-action-links a {
  border-radius: 5px;
  background: #3c322d;
  text-decoration: none;
  padding: 0.2em 0.6em;
  color: aliceblue;
}

.nav-action-logged-in {
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  background: #3c322d;
  color: aliceblue;
  padding: 0.6em 0.6em;
}
.nav-action-logged-in button {
  margin-left: 0.8em;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 4em;
  background: aliceblue;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2em 3em;
}

.form input {
  border: 1px solid #dedfe2;
  margin-bottom: 1em;
  padding: 0.5em 0.9em;
  border-radius: 5px;
}

.form button {
  font-weight: bold;
}

/* SIGN UP FORM */
.signup-form p {
  margin-top: 2em;
  color: #fff;
  background: red;
  padding: 0.3em 0.9em;
  border-radius: 5px;
}

/* LOG IN FORM */

.login-form h1 {
  margin-bottom: 1em;
}

.login-form button {
  margin-top: 1em;
}
/* Home Tabs */

.home-tabs {
  display: flex;
  justify-content: space-evenly;
  width: 35%;
  margin: 0 auto;
  margin-top: 5em;
}

.home-tabs a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 0;
  text-align: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 0.4em 0.8em;
  padding-top: 0.5em;
  text-decoration: none;
  color: inherit;
  min-width: 100px;
}

.home-tabs a:first-of-type {
  background: #72d4f5;
}

.home-tabs a:last-of-type {
  background: #9ad2a9;
}

/* Story Container */

.story-journal {
  height: 60vh;
  width: 65%;
  margin: 0 auto;
  border-radius: 15px;
  overflow: scroll;
  margin-bottom: 2em;
  background: #72d4f5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
}

.story-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
}

.MuiCircularProgress-root {
  margin-top: 13rem;
}

/* Story Articles */
.story-article {
  background: #f5f5f5;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  width: 85%;
  min-width: 250px;
  max-width: 550px;
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 1.5em;
}

.story-article header {
  display: flex;
  justify-content: space-between;
}

.story-article header div {
  display: flex;
  align-items: center;
}
.avatar {
  margin-right: 0.5em;
  width: 25px;
  height: 25px;
}

.story-content {
  margin-top: 1em;
  padding: 0;
}

.story-article footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.story-article footer button a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

/* Story Detail page */

.story-detail-page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2em;
  transition: 200ms ease-in;
}

.story-detail-page .MuiCircularProgress-root {
  margin: 0 auto;
  margin-top: 14rem;
}

.story-detail-sidebar {
  min-width: 300px;
  width: 35%;
}

.story-detail-complete {
  justify-content: center;
}

.contribution-widget {
  background: #047cac;
  padding: 1em;
  border-radius: 10px;
}
.contribution-widget h2 {
  color: #232b2b;
  padding: 0.3em;
  margin-bottom: 0.5em;
}

.contribution-widget form {
  display: flex;
  flex-direction: column;
}

.contribution-widget textarea {
  resize: none;
  padding: 0.5em;
  border-radius: 10px;
  height: 75px;
  outline: 0;
  font: inherit;
}

.contribution-widget button {
  min-width: 75px;
  margin-top: 0.7em;
  margin-right: auto;

  padding: 0.3em 0.9em;
}

.contribution-article {
  border-radius: 16px;
  margin-top: 2em;
  padding: 1.5em;
  padding: 1em;
  transition: 200ms ease-in;
  animation: fade-in 0.3s ease-in;
}

.contribution-article:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.contribution-article header {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contribution-article header div {
  display: flex;
  align-items: center;
}

.contribution-article > p {
  padding: 1em 0;
  border-bottom: 2px solid #244751;
}

.contribution-article footer {
  display: flex;
  margin-top: 0.5em;
  align-items: center;
  justify-content: space-between;
}
.contribution-action-container {
  display: flex;
}
.contribution-action-btn {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.contribution-action-btn svg {
  margin-left: 5px;
}

.upvote-error {
  background: red;
  color: #fff;
  width: fit-content;
  border-radius: 5px;
  margin-top: 1em;
  padding: 0.6em 0.9em !important;
  font-size: 12px;
}

/* User Feed */
.user-feed {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #9ad2a9;
}

.create-story-modal {
  position: absolute;
  top: 10%;
  width: 30%;
  min-width: 300px;
  align-self: center;
}

.create-story-modal textarea {
  resize: none;
}

.create-story-modal textarea,
.create-story-modal input {
  border: 0;
  width: 75%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 0;
  border-radius: 8px;
  font-size: 1.2em;
  font-family: inherit;
}

.create-story-modal button {
  font-size: 1em;
}

.create-story-btn {
  position: absolute;
  bottom: 60px;
  right: 60px;
  width: fit-content;
  background: #017cac;
  border-radius: 50%;
  padding: 1.2em;
}

.close-story-modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  top: 15px;
  background: 0;
}

.create-story-btn svg {
  color: #f0f8ff;
  font-size: 3.5em;
}

.footer {
  display: flex;
  justify-content: center;
  justify-self: flex-start;
}

@media screen and (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 1em;
  }
  .home-tabs {
    width: 100%;
  }
  .home-tabs a {
    font-size: 1.5em;
  }

  .story-journal {
    width: 90%;
  }

  .story-article {
    width: 80%;
    max-width: 450px;
  }

  .story-article h2 {
    font-size: 1.3em;
  }

  .story-article footer * {
    font-size: 12px;
  }

  .story-article button {
    width: 40%;
  }

  .create-story-btn {
    right: 40px;
    opacity: 50%;
  }

  .story-detail-page {
    flex-direction: column;
    align-items: center;
  }

  .story-detail-page .story-article footer div {
    width: 40%;
  }
}
